   body {
      margin: 0;
      padding: 0;
      overflow-y: scroll; /* Enable vertical scrolling */
      scroll-snap-type: y mandatory; /* Enable snapping behavior */
    }

    /* Define full-page sections */
    .section {
      height: 100vh; /* Set section height to viewport height */
      scroll-snap-align: start; /* Snap sections to the top of the viewport */
      display: flex; /* Use flexbox for centering content */
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    /* Optional: Add custom styles for each section */
    #title {
      background-color: #f8d7da;
    }

    #header {
      background-color: #d4edda;
    }

    #content {
      background-color: white;
    }

    .active {
      border: 2px solid black;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }

    .navText {
      display: block;
      margin-bottom: 10px;
      border: 1px solid white;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
    
    .navText:not(.active) {
      border-color: black;
      background-color: white;
    }

    nav {
      position: fixed;
      top: 0;
      right: 0;
      padding: 1rem;
      background-color: gray;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
    }

    nav li {
      margin-bottom: 1rem;
    }

    .navText {
      color: white;
    }

  

    #chart {
      width: 100%;
      text-align: center;
    }

    .tooltip {
      position: absolute;
      text-align: left;
      padding: 10px;
      font-size: 12px;
      background-color: #CCCCCC;
      border: 1px solid #ccc;
      pointer-events: none;
      opacity: 0;
      z-index: 999;
      border-radius: 5%;
    }
    